* {
    margin: 0;
    padding: 0;
}
body{
    background: rgba(77, 71, 255, 0.038);
}

.primary_color{
    color:#4E47FF;
}

.btn_primary{

    background:#4E47FF ;
    padding: 12px 36px;
    font-family: "Raleway", sans-serif;
    font-weight: bold;
    color: #ffff;
    border-radius: 10px;
    border: none;
}

header{
    background: url(images/Hero-bg.png);
    background-repeat: no-repeat;
    background-size: 100%;
}

.hero_aria{
    padding: 50px 150px 0 150px;
}
.hero_aria .navbar_section{
    display: flex;
    justify-content: space-between;
}
.hero_aria .navbar_section h1{
    font-family: "Raleway", sans-serif;
    font-size: 34px;
    font-weight: 900;
}
.hero_aria .banner_section{
    padding: 158px 118px;
    text-align: center;
}
.hero_aria .banner_section h1{
    font-family: "Raleway", sans-serif;
    font-size: 65px;
    font-weight: bold;
    padding-bottom: 37px;
    color: #252432;
}

.action_section .parent{
    display: flex;
    padding: 116px 160px;
    justify-content: space-between;
    align-items: center;
    
}
.action_section .parent h2{ 
    font-size: 42px;
    font-weight: bold;
    font-family: "Raleway", sans-serif;
    color: #252432;
    padding-bottom: 23px;
}
.action_section .parent p{ 
    font-size: 24px;
    font-weight: 400;
    font-family: "Raleway", sans-serif;
    color: rgba(37, 36, 50, 0.5);
    padding-bottom: 23px;
    padding-right: 270px;
    padding-bottom: 23px;
}
.action_section .parent img{ 
 width: 100%;
 border-radius: 48px;
}

.productive_users_section{
    margin: 116px 160px 137px;
    background: rgba(78, 71, 255, 0.1);
    padding: 50px 142px;
    border-radius: 10px;
}
.productive_users_section h2{
    font-family: "Raleway", sans-serif;
    font-size: 38px;
    font-weight: bold;
    color: #252432;
    padding-bottom: 40px;
    text-align: center;

}
.productive_users_section .parent{
    display: flex;
    justify-content: space-around;
    text-align: center;

}
.productive_users_section .parent h1{
    font-family:"inter", sans-serif ;
    font-size: 80px;
    font-weight: bold;
    color: #4E47FF;

}
.productive_users_section .parent p{
    font-family:"inter", sans-serif ;
    font-size: 20px;
    font-weight: 400;
    color: rgba(37, 36, 50, 0.5);

}

.lets_et_in_touch_section{
    margin: 93px 160px 14px;
}
.lets_et_in_touch_section .parent .child{
    display: flex;
    width: ;
    gap: 115px;
    justify-content: space-between;
    align-items: center;
}
.lets_et_in_touch_section .child h1{
    font-family:"Raleway", sans-serif;
    font-size: 92px;
    font-weight: bold;
}

.lets_et_in_touch_section .child form{
    display: flex;
    flex-direction: column;
    font-family:"inter", sans-serif  ;
    padding: 71px 0;
}
.lets_et_in_touch_section .child form input{
    padding: 20px;
    width: 497px;
    margin-bottom: 19px;
    font-size: 20px;
    color:  rgba(37, 36, 50, 0.5);
    border: 1px solid  rgba(214, 221, 237, 1);
    border-radius: 10px;
}
.lets_et_in_touch_section .child form label{
    margin-bottom: 10px;
    font-size: 18px;
}
.lets_et_in_touch_section .child form textarea{
    padding: 20px;
    width: 497px;
    margin-bottom: 19px;
    font-size: 20px;
    color:  rgba(37, 36, 50, 0.5);
    border: 1px solid  rgba(214, 221, 237, 1);
    border-radius: 10px;
}

footer{
    background: #ffff;
    font-family: "inter", sans-serif ;
    text-align: center;
}
footer .parent{
    padding: 104px 455px;
}
footer .parent h1{
    font-size: 100px;
    font-weight: 900;
    padding-bottom: 8px;
}
footer .parent p{
    font-size: 18px;
    color: #8987A1;
    font-weight: 400;
    padding: 8px 22px 20px;

}
footer .parent ul{

    display: flex;
    justify-content: center;
    gap: 48px;

}
footer .parent ul li{
list-style: none;

}
footer .parent ul a{
    text-decoration: none;
    font-size: 18px;
    color: #8987A1;
    font-weight: 400;

}